<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="FlaskRxApps" path="*." verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\Python38\python.exe|C:\inetpub\wwwroot\RxApps\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />

        
        </handlers>
    </system.webServer>
    <appSettings>
	
    </appSettings>
</configuration>
