USE [RXBackend]
GO
/****** Object:  StoredProcedure [dbo].[rpt_put_user]    Script Date: 2/16/2020 10:02:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[rpt_update_user]
	 @USERNAME VARCHAR(50)
	,@FIRST_NAME VARCHAR(20)
	,@LAST_NAME VARCHAR(20)
	,@POSITION VARCHAR(30)
	,@PASSWORD VARCHAR(160)
	,@ROLE INT
	,@INITIALS nchar(6)
	,@ACTIVE BIT
	,@OP VARCHAR(50)
	,@USER_ID INT
as

BEGIN
UPDATE [dbo].[RPT_USERS]
    SET [USERNAME] = @USERNAME
        ,[FIRST_NAME] = @FIRST_NAME
        ,[LAST_NAME] = @LAST_NAME
        ,[POSITION] = @POSITION
        ,[PASSWORD] = @PASSWORD
        ,[UPDATED_AT] = GETDATE()
        ,[UPDATED_BY] = @OP
        ,[ACTIVE] = @ACTIVE
        ,[INITIALS] = @INITIALS
    WHERE ID = @USER_ID

	IF NOT EXISTS (SELECT USER_ID, ROLE_ID FROM dbo.RPT_USER_ROLE WHERE USER_ID = @USER_ID AND ROLE_ID = @ROLE )
	BEGIN
	DELETE FROM RPT_USER_ROLE WHERE USER_ID = @USER_ID

	INSERT INTO [dbo].[RPT_USER_ROLE]
			   ([USER_ID]
			   ,[ROLE_ID])
		 VALUES
			   (
			   @USER_ID
			   ,@ROLE
			   )
	END
END