.main-form {
    margin-top: .5em;
}

label.small {
    font-size: .75em;
    font-weight: 700;
}

label.medium {
    font-weight: 700;
}

h5{
    font-weight: 700; 
}

::placeholder {
    color: rgba(247, 244, 250);
    font-size: .75em;
}

.info-block{
    border: solid #000000 .20em;
    background-color:#f5f5fc;
    margin-left: 3em;
    margin-right: 1.75em;
    font-size: .75em;
    text-align: center;
    cursor: pointer;
}

.search-block {
    border: solid #000000 .20em;
    border-radius: .4em;
    background-color:#007BFF;
    color: #FFFFFF;
    cursor: pointer;
    /* margin-left: 1em; */
    margin-right: .75em;
    font-size: .75em;
    font-weight: bold;
    text-align: center;
}

/* :read-only {
    background-color: #fdfdff;
}  */

.fActive {
    background-color: #df0c0c;
}

.highlight{
    background-color: #FFFF00;
}

.error{
    color:#ff0000;
}

.btn-wide {
    width: 120px !important;
}

.cursor-pointer{cursor: pointer;}
.cursor-croshair{cursor: crosshair;}
.cursor-eresize{cursor: e-resize;}
.cursor-move{cursor: move;}