<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='images/favicon-32x32.png')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
    <link rel="stylesheet" href="{{url_for('static', filename='css/site.css')}}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <title>{{ page_title }}</title>
</head>
<body>
    <div class="container">
    <div class="row"></div>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <a href="#" class="navbar-brand">
            <img src="{{url_for('static', filename='images/ihs-pharmacy-logo.png')}}" height="28" id="navLogo" alt="Occurrence Report">
            Reporting
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav mr-auto">
                <a href="{{url_for('index')}}" class="nav-item nav-link active" id="navOccur">Occurrence</a>
            </div>
        </div>
    </nav>
    <br />
    <h2>Occurrence Sign Off</h2>
    <input type="hidden" id="witness" name="witness" value="{{ witness }}" />
    <table class="table"  id="tblCodes">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Tech</th>
                <th scope="col">RPH</th>
                <th scope="col">Reported</th>
                <th scope="col">Reported By</th>
                <th scope="col">Occured</th>
                <th scope="col" >Reason</th>
            </tr>
        </thead>
        <tbody>
  {% for s in signoff %}
        <tr>
            <td >
                    <span id='sign_rph' class="cursor-pointer signlink" onclick="login('{{ s['rpt_id'] }}', '{{ s['tech_id_sign'] }}', 'T', '{{s['tech_username'] }}')">{{s['tech_name'] }}</a>		
            </td>
            <td>
                    <span id='sign_rph' class="cursor-pointer signlink" onclick = "login( '{{ s['rpt_id'] }}', '{{ s['rph_id_sign'] }}', 'R', '{{s['rph_username'] }}')">{{s['rph_name'] }}</a>
            </td>
            <td>
                    {{ s['discover_date'] }}
            </td>
            <td class="">
                    {{ s['person_reporting'] }}
            </td>
            <td>
                    {{ s['occur_date'] }}
            </td>
            <td>
                    {{ s['dept'] }} - {{ s['reason'] }} 
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
<!-- Accept MODAL -->
<div class="modal fade " id="mLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-warning">
          <h5 class="modal-title" style="color:#ffffff">Invalid Login</h5>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST"  action="{{url_for('occur_signoff_login')}}">
            <div class="form-group row">
                <div class="col-sm-10">
                  <p style="color:red"><strong>You cannot be a witness and accept a report</strong></p>
            <span id="errorText" style="color:red"></span>
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="btnAccCancel" data-dismiss="modal" aria-label="Close">Dismiss</button>	
          <input type="hidden" id="user_data" name="user_data" />
        </form>
        </div>
      </div>
    </div>
  </div>
 

  <script>
        function openLogin(user_data){
            $("#txtPassword").val("");
            $("#txtUsername").val("");
            $("#user_data").val(user_data);
            console.log(user_data);
            $("#mLogin").modal();
        }

        function login(rpt_id, sign_id, user_type, username) {
            let witness = $("#witness").val().trim();
            if (witness == sign_id){
              $("#mLogin").modal();
                return false;
            }
            let url = '/occur/signoff/user/' + rpt_id +'_' + sign_id +'_' +user_type +'_' + username ;
            console.log(url);
            window.location.href=url;
            //window.open(url);
        }
  </script>
</body>
</html>