{% extends "base.html" %}
{% block body %}

<script type="text/javascript">
	var nav = document.getElementById("navOccur");
	nav.className += " active";
    nav.style.fontWeight = "bold";
</script>
        <input id="current_id" type="hidden" value="{{ current_id}}" />
        <input id="current_status" type="hidden" value="{{ current_status}}" />
        <form class="main-form">
        <div class="d-flex justify-content-between row">
            <div class="col-sm-2">
                <div class="w-75  info-block" id="dMode" title="Click to clear form">
                Add Mode
                </div>
            </div>  
            <div class="col-sm-2">
                <div class="w-75  search-block" id="dSearch" onclick="openSearch()">
                    Search
                </div>
            </div>          
        </div>
        <hr />
        <div class="form-group row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="dateReport" class="small">Date Discovered or Reported to IHS </label>
                    <input type="date" class="form-control form-control-sm" id="dateReport" name="dateReport" placeholder="Report Date" /> 
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="dateOccur" class="small">Date of Occurrence </label>
                    <input type="date" class="form-control form-control-sm" id="dateOccur" name="dateOccur" placeholder="Occurrence Date" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="dateCreate" class="small">Report Creation Date </label>
                    <input type="date" readonly class="form-control form-control-sm"  id="dateCreate" name="dateCreate" placeholder="Date Created" />
                </div>    
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label for="frmID" class="small">ID</label>
                    <input type="text" readonly class="form-control form-control-sm"  id="frmID" name="frmID"  />
                </div>    
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
            <label for="selFac" class="small">Facility Code</label>
                <select class="form-control form-control-sm" id="selFac" name="selFac" onchange="get_fac_name()">
                    <option value=""></option>
                    {%- for f in facilities %}
                        <option value="{{ f.name }}">{{ f.code }}</option>
                    {%- endfor -%}
                </select>
            </div>
            <div class="col-sm-5">
                <label for="txtFac" class="small">Facility Name</label>
                <input type="text" readonly style="background-color: #fdfdff" class="form-control form-control-sm" id="txtFac" name="txtFac" placeholder="" />
            </div>
            <div class="offset-md-1 col-sm-4">
                <label for="txtPatient" class="small">Patient Name</label>
                <input type="text"  class="form-control form-control-sm" id="txtPatient" name="txtPatient" placeholder="" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <label for="txtPerRept" class="small">Person Reporting occurrence</label>
                <input type="text"  class="form-control form-control-sm" id="txtPerRept" name="txtPerRept" placeholder="" />
            </div>
            <div class="col-sm-3">
                <label for="txtPhone" class="small">Phone</label>
                <input type="text"  class="form-control form-control-sm" id="txtPhone" name="txtPhone" placeholder="" />
            </div>
            <div class="col-sm-5">
                <label for="selPerComp" class="small">Person completing occurrence report</label>
                <select type="text"  class="form-control form-control-sm" id="selPerComp" name="selPerComp">
                <option value="0"></option>
                {%- for u in users %}
                    {% if ('Admin' not in u['position'] and 'Dev' not in u['position'])  -%}
                        <option value="{{ u.id }}">{{ u.firstname }} {{ u.lastname }}</option>
                    {% endif %}
                {%- endfor -%}
                </select>
            </div>
        </div>
    <hr>
    <div class="d-flex justify-content-center"><h5>Primary Department Involved</h5></div>
    <div class="form-group row ">
        <div class="col-sm-4">
            <label for="selIntake" id="selIntakeL" class="small">Order Entry</label>
            <select type="text"  class="form-control form-control-sm selType" id="selIntake" name="selIntake">
                <option value="0"></option>
                {%- for r in reasons -%}
                    {% if 'ORDIN' in r['code'] -%}
                        <option value="{{ r.id }}">{{ r.reason_desc }}</option>
                    {% endif %}
                {%- endfor -%}
            </select>
        </div>
        <div class="col-sm-4">
            <label for="selDelivery" id="selDeliveryL" class="small">Pharmacist</label>
            <select type="text"  class="form-control form-control-sm selType" id="selDelivery" name="selDelivery" >
                <option value="0"></option>
                {%- for r in reasons -%}
                    {% if 'DEL' in r['code'] -%}
                        <option value="{{ r.id }}">{{ r.reason_desc }}</option>
                    {% endif %}
                {%- endfor -%}
            </select>
        </div>
        <div class="col-sm-4">
            <label for="selMed" id="selMedL" class="small">Automed</label>
            <select type="text"  class="form-control form-control-sm selType" id="selMed" name="selMed" >
                <option value="0"></option>
                {%- for r in reasons -%}
                    {% if 'MED' in r['code'] -%}
                        <option value="{{ r.id }}">{{ r.reason_desc }}</option>
                    {% endif %}
                {%- endfor -%}
            </select>
        </div>
    </div>  
    <div class="form-group row ">
        <div class="col-sm-4">
            <label for="selCooking" id="selCookingL" class="small">Med Card</label>
            <select type="text"  class="form-control form-control-sm selType" id="selCooking" name="selCooking" >
                <option value="0"></option>
                {%- for r in reasons -%}
                    {% if 'COOK' in r['code'] -%}
                        <option value="{{ r.id }}">{{ r.reason_desc }}</option>
                    {% endif %}
                {%- endfor -%}
            </select>
        </div>
        <div class="col-sm-4">
            <label for="selBilling" id="selBillingL" class="small">Billing</label>
            <select type="text"  class="form-control form-control-sm selType" id="selBilling" name="selBilling">
                <option value="0"></option>
                {%- for r in reasons -%}
                    {% if 'BILL' in r['code'] -%}
                        <option value="{{ r.id }}">{{ r.reason_desc }}</option>
                    {% endif %}
                {%- endfor -%}
            </select>
        </div>
        <div class="col-sm-4">
            <label for="selShipping" id="selShippingL" class="small">Shipping</label>
            <select type="text"  class="form-control form-control-sm selType" id="selShipping" name="selShipping">
                <option value="0"></option>
                {%- for r in reasons -%}
                    {% if 'SHIP' in r['code'] -%}
                        <option value="{{ r.id }}">{{ r.reason_desc }}</option>
                    {% endif %}
                {%- endfor -%}
            </select>
        </div>
    </div>
<div class="form-group row ">
        <div class="col-sm-4">
            <label for="selOther" id="selOtherL" class="small">Other</label>
            <select type="text"  class="form-control form-control-sm selType" id="selOther" name="selOther" >
                <option value="0"></option>
                {%- for r in reasons -%}
                    {% if 'OU' in r['code'] -%}
                        <option value="{{ r.id }}">{{ r.reason_desc }}</option>
                    {% endif %}
                {%- endfor -%}
            </select>
        </div>
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-sm-4">
        </div>
    </div>


    <div class="form-group row ">
        <div class="col-sm-3">
            <label for="selTechInv" class="small ">Tech Invovled</label>
            <select type="text"  class="form-control form-control-sm setReq" alt="Tech" id="selTechInv" name="selTechInv">
                <option value="0"></option>
                {%- for u in users -%}
                    {% if 'Tech' in u['position'] or  'RPH' in u['position']-%}
                        <option value="{{ u.id }}">{{ u.firstname }} {{ u.lastname }}</option>
                    {% endif %}
                {%- endfor -%}

            </select>
        </div>
        <div class="col-sm-2">
            <br />
            <label for="cbTechReq" class="small">Require Signature</label>
            <input type="checkbox" id="cbTechReq"  name="cbTechReq" />
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-sm-3">
            <label for="selRphInv" class="small">RPH Invovled</label>
            <select type="text"  class="form-control form-control-sm setReq" alt="RPH" id="selRphInv" name="selRphInv" >
                <option value="0"></option>
                {%- for u in users %}
                    {% if 'RPH' in u['position'] -%}
                        <option value="{{ u.id }}">{{ u.firstname }} {{ u.lastname }}</option>
                    {% endif %}
                {%- endfor -%}
            </select>
        </div>
    <div class="col-sm-2">
        <br />
        <label for="cbRphReq" class="small">Require Signature</label>
        <input type="checkbox" id="cbRphReq"  name="cbRphReq" />
    </div>
</div>
    <div class="form-group row">
        <div class="col-md-3" >
            <br /> 
            <div class='float-right'>
                <!-- <button type="button" class="btn btn-secondary rounded btn-sm btn-form" onclick="clearForm()">Clear Form</button> -->
                <a href="/" class="btn btn-secondary rounded btn-sm btn-form btn-wide">Clear Form</a>
                <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                <button type="button" onclick="validateForm()"  class="btn btn-primary btn-sm rounded btn-form btn-wide">Submit</button>
                &nbsp;
            </div>
            <br /><br />
            </form>
            <div class="float-right" id="dVoid" style="display:none">
                <form action="/upload" id="frmUpload" method="POST">
                <button type="button" onclick="voidForm()" id="btnVoid" class="btn btn-warning rounded btn-sm btn-form btn-wide">Void Current</button>&nbsp;
                    <input  type="submit" id="btnAttach" class="btn btn-primary rounded btn-sm btn-form btn-wide" value="Add Attachment" />&nbsp;
                    <input type="hidden" name="attFile" id="attFile"value="null" />
                    <input type="hidden" id="attFac" name="attFac" />
                    <input type="hidden" id="attID" name="attID" />
                    <input type="hidden" id="attDate" name="attDate" />
                </form>
                <br />
                <a href="" id="aPDF" rel="" target="_blank"></a>
                <br />
                <a href="" id="aUpload" rel="" target="_blank"></a>
            </div>
                <input type="hidden" id="opcode" name="opcode" value="insert"/>
                <input type="hidden" id="txtID" name="txtID" value="0"/>
        </div>
        <div class="col-md-9">
                <label for="txtExp" class="medium">Explanation</label>
                <textarea class="form-control" rows="6" cols=80" id="txtExp" name="txtExp" ></textarea>
                <br />
        </div>
    </div>
    </div>
    <!-- Error Modal -->
    <div class="modal" id="mError">
        <div class="modal-dialog">
            <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Errors Found</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
            <p class="float-left" id="errMsg" style="font-weight: bold; color:red"></p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

            </div>
        </div>
    </div>
    <!-- Info Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="mInfo">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tmInfo"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="pmInfo"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
        <!-- Search Modal -->
        <div class="modal" id="mSearch">
            <div class="modal-dialog  modal-lg">
                <div class="modal-content">
    
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="hSearch"><strong>Search Reported Occurences</strong></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
    
                <!-- Modal body -->
                <div class="modal-body">
                    <form id="frmSearch" name="frmSearch">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-8">
                                    <label class="radio-inline">
                                        <input type="radio" name="optDate" id="rbStart" checked value="DISCOVER_DATE"> Discovered
                                    </label>
                                    &nbsp; | &nbsp;
                                    <label class="radio-inline">
                                        <input type="radio" name="optDate" id="rbEnd" value="OCCUR_DATE"> Occurred
                                    </label>
                                    &nbsp; | &nbsp;
                                    <label class="radio-inline">
                                        <input type="radio" name="optDate" id="rbCreated" value="CAST(CREATED_AT AS DATE)"> Created
                                    </label>
                                </div>
                                <div class="col-sm-7">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label for="txtDateStart" class="col-form-label">Start Date</label>
                                    <input type="date" class="form-control" id="txtDateStart" name="txtDateStart">
                                </div>
                                <div class="col-sm-3">
                                    <label for="txtDateEnd" class="col-form-label">End Date</label>
                                    <input type="date" class="form-control" id="txtDateEnd" name="txtDateEnd">
                                </div>
                                <div class="col-sm-2">
                                    <label for="selFacSearch" class="col-form-label">By Facility</label>
                                    <select type="text" class="form-control" id="selFacSearch" name="selFacSearch" onchange="get_fac_name_s()">
                                        <option value="0"></option>
                                        {% for f in facilities %}
                                            <option value="{{ f.name }}">{{ f.code }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <label for="txtFacSearch" class="col-form-label">&nbsp;</label>
                                    <input type="text" class="form-control" readonly style="background-color: #fdfdff" id="txtFacSearch" name="txtFacSearch">
                                </div>
                            </div>
                    <p class="float-left" id="errMsgSearch" style="font-weight: bold; color:red"></p>
                    <table class="table table-striped" id="tblSearch">
                        <thead class="">
                            <tr class="table-primary">
                                <th scope="col">Discovered</th>
                                <th scope="col">Occurred</th>
                                <th scope="col">Created</th>
                                <th scope="col">Facility</th>
                                <th scope="col">Created By</th>
                                <th scope="col">ID</th>
                                <th scope="col">Valid</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="tbSearch">
                        </tbody>
                    </table>
                </form>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary mr-auto" onclick="search()" >Search</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
    
                </div>
            </div>
        </div>

<script type="text/javascript">
    var categorySelected = false;
    let currentRCode = '0';
    let currentReason = '';
    let currentDept = '';

    $(function(){
        let rpt_id = {{ rpt_id }};
        console.log('Curr ID:' + rpt_id);
        $('#dateCreate').val(currentDate());
        $('#frmID').val("New");
        console.log(rpt_id);

        if (String(rpt_id) !== '0' ) {
            $('#frmID').val(rpt_id);
            $('#txtID').val(rpt_id);
            edit_occurence(rpt_id, '');
        }

        $("#selPerComp").val($("#current_id").val());

        $(".selType").change(function(){
            if ($(this).val() !== "0") {
                categorySelected = true;
                $('.selType').attr('disabled',true);
                $(this).attr('disabled',false);
                currentRCode = $(this).val();
                let id = $(this).attr('id');
                currentDept = $("#" + id + "L").text();
                currentReason =  $("option:selected", this ).text();
            }
            else {
                categorySelected = false;
                currentRCode = '0';
                currentDept = '';
                currentReason = '';
                $('.selType').attr('disabled',false);
            }
        });

        $(".setReq").change(function(){ 
                let typ = $(this).attr("alt");
                let $cbox = (typ == "Tech") ? $("#cbTechReq" ) :  $("#cbRphReq" ) ;

                if ($(this).val() !== "0") {
                    $cbox.prop( "checked", true );
                }
                else{
                    $cbox.prop( "checked", false );
                }
        });

    });

    function get_fac_name() {
        let fac = $("#selFac option:selected" ).val();
        $("#txtFac").val(fac);
    }

    function get_fac_name_s() {
        let fac = $("#selFacSearch option:selected" ).val();
        $("#txtFacSearch").val(fac);
    }

    function validateForm() {
        let dateReport = $('#dateReport').val();
        let dateOccur = $('#dateOccur').val();
        let selFac = $("#selFac option:selected" ).text().trim();
        let facName = $('#txtFac').val().trim();
        let txtPatient = $('#txtPatient').val().trim();
        let txtPerRept = $('#txtPerRept').val().trim();
        let txtPhone = $('#txtPhone').val().trim();
        let selPerComp= $('#selPerComp').val();
        let perCompName = $("#selPerComp option:selected" ).text().trim();
        let selIntake = $('#selIntake').val();
        let selMed = $('#selMed').val();
        let selShipping = $('#selShipping').val();
        let selDelivery = $('#selDelivery').val();
        let selBilling= $('#selBilling').val();
        let selCooking = $('#selCooking').val();
        let selOther = $('#selOther').val();
        let selTechInv = $('#selTechInv').val();
        let techName = $("#selTechInv option:selected" ).text().trim();
        let selRphInv = $('#selRphInv').val();
        let rphName = $("#selRphInv option:selected" ).text().trim();
        let txtExp = $('#txtExp').val();
        let opcode =  $('#opcode').val();
        let pdf = $("#aPDF").attr('rel');
        let reqTech = ($("#cbTechReq").prop("checked") == true) ? 1 : 0;
        let reqRph = ($("#cbRphReq").prop("checked") == true) ? 1 : 0;
        let id = "0";

        console.log(reqTech , reqRph);

        let msg = "";
        let type_count = 0;

        if(dateReport.trim() === "") {
            msg += "A date for discovery or reporting is required<br />";
        }
        if(dateOccur.trim() === "") {
            msg += "An occurence date is required<br />";
        }
        if( !selPerComp || selPerComp.trim() === "0"  ) {
            msg += "A Person completing report must be selected<br />";
        }

        if(selFac.trim() === "0" || selFac.trim() === "") {
            msg += "A Facility code is required<br />";
        }
        
        if (!categorySelected){
            msg += "At least one reason from the 'Types of Occurences' is required<br />";
        }

        if(txtExp.trim() === "") {
            msg += "A explanation of the occurence is required<br />";
        }

        if (msg !== "") {
            $('#errMsg').html(msg);
            $('#mError').modal('show');
            return false;    
        }
        else {
            if (opcode === 'update') {
                id = $("#txtID").val();
            }
        }

        dateReport = changeDateFormat($('#dateReport').val());
        dateOccur = changeDateFormat($('#dateOccur').val());

            $.ajax({
                type: "POST",
                url: "{{url_for('occur')}}",
                dataType: 'json',
                data: {
                    'dateReport': dateReport,
                    'dateOccur': dateOccur,
                    'selFac': selFac,
                    'facName': facName,
                    'txtPatient': txtPatient,
                    'txtPerRept': txtPerRept,
                    'txtPhone': txtPhone,
                    'selPerComp': selPerComp,
                    'perCompName': perCompName,
                    'selIntake': selIntake,
                    'selMed': selMed,
                    'selShipping': selShipping,
                    'selDelivery': selDelivery,
                    'selBilling': selBilling,
                    'selCooking': selCooking,
                    'selOther': selOther,
                    'selTechInv': selTechInv,
                    'techName': techName,
                    'selRphInv': selRphInv,
                    'rphName': rphName,
                    'txtExp': txtExp,
                    'op-code': opcode,
                    'currentRCode': currentRCode,
                    'currentDept':currentDept,
                    'currentReason': currentReason,
                    'pdf': pdf,
                    'reqTech': reqTech,
                    'reqRph' : reqRph,
                    'id': id
                },
                async: false,
                success: function (data) {
                    console.log(data)
                    $.each(data, function(k,v){
                        console.log(v['id_rpt']);
                        console.log(v['pdf']);
                        $("#txtID").val(v['id_rpt']);
                        $("#frmID").val(v['id_rpt']);
                        $("#aPDF").attr('href','/static/pdf/' + v['pdf']);
                        $("#aPDF").attr('rel', v['pdf']);
                        $("#aPDF").html('PDF Form');
                        $("#attID").val(v['id_rpt']);
                        $("#attFac").val($("#txtFac").val());
                        $("#attDate").val(currentDate());
                        $('#dMode').html("Update Mode");
                        $("#dVoid").show();
                    })
                },
                complete: function (data) {
                    if (opcode === 'update'){
                        $('#tmInfo').html("Update Complete");
                        $('#pmInfo').html("Update completed for Occurence with ID: " + id )
                        $('#mInfo').modal('show');
                    }
                    else if (opcode === 'insert'){
                        $('#tmInfo').html("Record Added");
                        $('#pmInfo').html("An Occurence reported on date '" +  dateReport + "' has been added")
                        $('#mInfo').modal('show');
                    }
                    //location.reload();
                }
            });
        }


    function search() {
        $('#errMsgSearch').html("");
        let facility = $("#selFacSearch option:selected" ).text().trim();
        let startDate = $('#txtDateStart').val().trim();
        let endDate = $('#txtDateEnd').val().trim();
        let dateType = $("input[name='optDate']:checked").val().trim();
        let dates = "", filter = "", facSearch = "", where = " WHERE ";
        let html = '';

        if (facility === "" && startDate === '' && endDate === '') {
            $('#errMsgSearch').html("A search term must be entered");
            return false;
        }
        
        if (!compareDates(startDate, endDate) && (startDate !== '' && endDate !== '')) {
            $('#errMsgSearch').html("The starting date cannot be later than the ending date");
            return false;
        }

        if (startDate !== '' && endDate  === ""){
            dates =  dateType + " = '" + startDate + "'"
        }
        else if ( startDate !== '' && endDate  !== ""){
            dates = " ( " + dateType + " >= '" + startDate + "' AND " + dateType + " <= '" + endDate + "' ) " 
        }

        if (facility != '') {
            facSearch = "FACILITY_CODE = '" + facility + "'"
        }

        if (facility != '' && (startDate === '' && endDate === '')) {
            filter = where + facSearch;
        }
        else if(facility != '') {
            filter = where + facSearch + " AND " + dates;
        }
        else {
            filter = where  + dates;
        }


        $.ajax({
            data: {
                sql: `SELECT ID
                    ,CONVERT(char(10),DISCOVER_DATE,126) as DISCOVER_DATE
                    ,CONVERT(char(10), OCCUR_DATE,126) as OCCUR_DATE
                    ,CONVERT(char(10), CREATED_AT,126) as CREATED_AT
                    ,FACILITY_CODE, CREATED_BY
                    ,USERNAME
                    ,VALID
                    FROM dbo.RPT_OCCUR 
                `+ filter
            },
            type: 'POST',
            url: '/getSearch',
            dataType: 'json'
        })
        .done(function (data) {
            $.each(data, function (index, item) {
                let id = item.ID
                let dateDiscover = item.DISCOVER_DATE;
                let dateOccur = item.OCCUR_DATE;
                let dateCreate = item.CREATED_AT;
                let facCode = item.FACILITY_CODE;
                let createdBy = item.USERNAME;
                let facName = $("#txtFacSearch").val();
                let valid = item.VALID;
                html += '<tr><td>' + dateDiscover + '</td>';
                html += '<td>' + dateOccur + '</td>';
                html += '<td>' + dateCreate + '</td>';
                html += '<td>' + facCode + '</td>';
                html += '<td>' + createdBy + '</td>';
                html += '<td>' + id + '</td>';
                html += '<td>' + valid + '</td>';
                html += `<td><a id="edit-user" href="#" onclick="edit_occurence(` + id + `,'` + facName +  `')" >Edit</a></td></tr>`;
                
            });
            $("#tbSearch").html(html);
        });


    }

    function edit_occurence(id, facName){
        let cls = 'fActive';
        let currCategory = null;
        $.ajax({
            data: {
                sql: `SELECT r.ID
                ,CONVERT(char(10),[DISCOVER_DATE],126) as DISCOVER_DATE
                ,CONVERT(char(10), [OCCUR_DATE],126) as OCCUR_DATE
                ,[USERNAME]
                ,[FACILITY_CODE]
                ,r.[CREATED_BY]
                ,[USERNAME]
                ,[FACILITY_CODE]
                ,f.[DNAME] as [FAC_NAME]
                ,[PATIENT_NAME]
                ,[PERSON_REPORTING]
                ,[PHONE]
                ,[PERSON_COMPLETING]
                ,[ORDER_INTAKE]
                ,[MEDICATION]
                ,[SHIPPING]
                ,[DELIVERY]
                ,[BILLING]
                ,[COOKING]
                ,[OTHER]
                ,[TECH_ID]
                ,[RPH_ID]
                ,[EXPLANATION]
                ,[VALID]
                ,[REASON_CODE]
                ,c.CATEGORY_CODE
                ,r.ATTACHMENT
                ,r.UPLOAD
                ,CONVERT(varchar, [CREATED_AT], 23) as [CREATED_AT]
                ,r.TECH_REQ_VERIFY
                ,r.RPH_REQ_VERIFY
                FROM dbo.[RPT_OCCUR] r
                LEFT JOIN CIPS.dbo.[FAC] f
                ON r.[FACILITY_CODE] = f.DCODE
                LEFT JOIN RPT_REASONS c
                ON r.REASON_CODE = c.ID
                WHERE r.[ID] =`+ id
            },
            type: 'POST',
            url: '/getSearch',
            dataType: 'json'
        })
        .done(function (data) {
            $.each(data, function (index, item) {
                $('#dateReport').val(item.DISCOVER_DATE);
                $('#dateOccur').val(item.OCCUR_DATE);
                $('#dateCreate').val(item.CREATED_AT);
                $("#frmID").val(item.ID);
                $("#selFac").val(item.FAC_NAME);
                $("#txtFac").val(item.FAC_NAME);
                $('#txtPatient').val(item.PATIENT_NAME);
                $('#txtPerRept').val(item.PERSON_REPORTING);
                $('#txtPhone').val(item.PHONE);
                $('#selPerComp').val(item.PERSON_COMPLETING);
                $('#selIntake').val("0"); 
                $('#selMed').val("0");
                $('#selShipping').val("0");
                $('#selDelivery').val("0");
                $('#selBilling').val("0");
                $('#selCooking').val("0");
                $('#selOther').val("0");
                $('#selTechInv').val(item.TECH_ID);
                $('#selRphInv').val(item.RPH_ID);
                $('#txtExp').val(item.EXPLANATION);
                $('#opcode').val('update');
                $('#dMode').html("Update Mode");
                $("#txtID").val(item.ID);
                $("#current_status").val(item.VALID);
                $("#attID").val(item.ID);
                $("#attFac").val(item.FAC_NAME);
                $("#attDate").val(item.CREATED_AT);
                $("#aPDF").attr('href','/static/pdf/' + item.ATTACHMENT);
                $("#aPDF").attr('rel', item.ATTACHMENT);
                $("#aPDF").html('PDF Form');
                $("#aUpload").attr('href','/static/pdf/' + item.UPLOAD);
                $("#aUpload").attr('rel', item.UPLOAD);
                let stat_t = item.TECH_REQ_VERIFY == "1" ? true : false;
                let stat_r = item.RPH_REQ_VERIFY == "1" ? true : false;
                $('#cbTechReq').prop('checked', stat_t);
                $('#cbRphReq').prop('checked', stat_r);
                if (item.UPLOAD.trim() === ''){
                    $("#aUpload").text('')
                }
                else{
                    $("#aUpload").text('Attached File')
                }
                switch(item.CATEGORY_CODE) {
                    case 'ORDIN':
                        $('#selIntake').val(item.REASON_CODE); 
                        currCategory = $('#selIntake');
                        currentDept = 'Order Entry';
                        break;
                    case 'MED':
                        $('#selMed').val(item.REASON_CODE); 
                        currCategory = $('#selMed');
                        currentDept = 'Medication';
                        break;
                    case 'SHIP':
                        $('#selShipping').val(item.REASON_CODE); 
                        currCategory = $('#selShipping');
                        currentDept = 'Shipping';
                        break;
                    case 'DEL':
                        $('#selDelivery').val(item.REASON_CODE); 
                        currCategory = $('#selDelivery');
                        currentDept = 'Delivery';
                        break;
                    case 'BILL':
                        $('#selBilling').val(item.REASON_CODE); 
                        currCategory = $('#selBilling');
                        currentDept = 'Billing';
                        break;
                    case 'COOK':
                        $('#selCooking').val(item.REASON_CODE); 
                        currCategory = $('#selCooking');
                        currentDept = 'Med Card';
                        break;
                    case 'OU':
                        $('#selOther').val(item.REASON_CODE); 
                        currCategory = $('#selOther');
                        currentDept = 'Other';
                        break;
                }
                categorySelected = true;
                $('.selType').attr('disabled', true);
                currCategory.attr('disabled', false);
                let id = currCategory.attr('id')
                currentDept = $("#" + id + "L").text();
                currentReason =  $("option:selected", currCategory ).text();
                currentRCode = $("option:selected", currCategory ).val();
                console.log(currentRCode);

                if (item.VALID == 0) {
                    $('.container').addClass(cls);
                    $("#btnVoid").text("Set Active");
                }
                else{
                    $('.container').removeClass(cls);
                    $("#btnVoid").text("Void Current");
                }

            });
        });
        $('#mSearch').modal('hide');
        $("#dVoid").show();
    }

    function compareDates(start, end){
        try {
            let dStart = Date.parse(start);
            let dEnd = Date.parse(end);

            if (dStart > dEnd) {
                return false
            }
            return true;
        }
        catch(err){
            alert(err.message)
            return false;
        }
    }

    function openSearch() {
        $('#mSearch').modal('show');
        $('#rbStart').prop("checked", true);
        $('#txtDateStart').val("");
        $('#txtDateEnd').val("");
        $('#txtFacSearch').val("");
        $('#selFacSearch').val("0");
        //$("#tbSearch").html("");
        $('#errMsgSearch').html("");
    }

    function clearForm() {
        let cls = 'fActive';
        $('#dateReport').val("");
        $('#dateOccur').val("");
        $('#dateCreate').val(currentDate());
        $('#frmID').val("New");
        $("#selFac" ).val("0")
        $("#txtFac" ).val("")
        $('#txtPatient').val("")
        $('#txtPerRept').val("");
        $('#txtPhone').val("");
        $("#selPerComp").val($("#current_id").val());
        $('#selIntake').val("0");
        $('#selMed').val("0");
        $('#selShipping').val("0");
        $('#selDelivery').val("0");
        $('#selBilling').val("0");
        $('#selCooking').val("0");
        $('#selOther').val("0");
        $('#selTechInv').val("0");
        $('#selRphInv').val("0");
        $('#txtExp').val("");
        $("#txtID").val("0");
        $("#dMode").html("Add Mode");
        $('#opcode').val("insert");
        $("#dVoid").hide();
        $("#aPDF").attr('href','');
        $("#aPDF").attr('rel', '');
        $("#aPDF").html('');
        $("#aUpload").attr('href','');
        $("#aUpload").attr('rel', '');
        categorySelected = false;
        currentReason = '';
        currentCategory = '';
        $('.selType').attr('disabled',false);
        $('.container').removeClass(cls);
        $("#btnVoid").text("Void Current");
    }
    
    function voidForm() {
        let id = $("#txtID").val();
        var current_stat = $("#current_status").val().trim();
        var status = '1';
        msg_stat = 'set active'
        if (current_stat === '1') {
            status = '0';
            msg_stat = 'voided'
        }

        let sql =`UPDATE dbo.RPT_OCCUR SET VALID = ` + status + ` WHERE ID = ` + id;

        $.ajax({
            type: "POST",
            url: "{{url_for('updateStatus')}}",
            dataType: 'json',
            data: {
                'sql': sql,
                'id':id,
                'status': status
            },
            async: false,
            success: function (data) {
            },
            complete: function (data) {
                $('#tmInfo').html("Status change");
                $('#pmInfo').html("An Occurence with ID '" +  id + "' has been " + msg_stat);
                $('#mInfo').modal('show');
                clearForm();
            }
            
        });

    }


</script>
        
{% endblock %}
    